<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/Public/jquery/jquery-1.7.2.min.js"/></script>
<link href="/Public/Plugin/ueditor/themes/default/css/ueditor.css" type="text/css" rel="stylesheet">
<title> 兑换中心 </title>
<style type="text/css">
	@charset "utf-8";
	/* CSS Document */
	*{ margin:0; padding:0;}
	body{ font-family:"Times New Roman",Georgia,Serif; background:#f5f5f5;}
	.clear{ clear:both;}
	ul li{ list-style:none;}
	a{ color:#000; text-decoration:none;}
	.ml10{ margin-left:10px;}
	img{ float:left;}
	.mt15{margin-bottom:15px;}
	.ml20{ margin-left:20px;}
	.container{width: 100%;max-width: 600px; margin: auto;}
</style>
</head>

<body>
<div class="container">
   <div class="artcle_con">{$articles.content}</div>
</div>
</body>
</html>
