<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="联系客服">
	<title>联系客服</title>
	<link  href="/Public/web/style/css/activity-style.css" rel="stylesheet" type="text/css" />
	<style type="text/css">
		* { margin:0px; padding:0px;}
		.main { margin:30% auto 0px; width:260px;}
		.fleft { float:left; }
		.main-text { height:46px; font-weight:bold; font-size:16px; margin-left:8%; padding:5px 0; }
		.clear { clear:both; }
		.m_b_10 { margin-bottom:20px; }
	</style>
</head>
<body>
	<div class="main">
		<ul style="list-style-type:none;">
			<li><img src="/Public/web/style/images/kefu.png" alt="" class="fleft m_b_10"><div class="fleft main-text">在线客服<br/>QQ: 2265275526</div></li>
			<div class="clear"></div>
			<li><img src="/Public/web/style/images/wechat.png" alt="" class="fleft m_b_10"><div class="fleft main-text">微信公众号<br/>zhaoyou91</div></li>
			<div class="clear"></div>
			<li><img src="/Public/web/style/images/email.png" alt="" class="fleft m_b_10"><div class="fleft main-text">联系邮箱<br/>kefu@91zhaoyou.com
</div></li> 
			<div class="clear"></div>
		</ul>
	</div>
<br/>
<br/>




</body>
</html>