<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>分享中心</title>
  <script src="/Public/jquery/jquery-1.8.3.min.js"></script> 
  <link href='/Public/youmi_admin/style/css/bui_css.css' rel="stylesheet" type="text/css" /> 
</head>
<body style="background:#EDEEF0">
<div class="bodytitle">
  <div id="h_title">分享中心添加</div>
</div>
 
<div class="subbox">  
  <div class="bui_content_b">
    <div class="bui-content"> 
      <form action="/Admin/SharingCenter/SharingCenter?id={$info_mass.id}" method="post" onsubmit="return formid()" enctype="multipart/form-data">
        <table cellspacing="0" class="table table-tr article-td" id="shar_input">
          <tr>
            <td>标题名称：</td>
            <td><input type="text" name="title" value="{$info_mass.title}" id="title" class="input-back-bor shop-input-class"/></td>
          </tr>
          <tr>
            <td>链接：</td>
            <td><input type="text" name="url" value="{$info_mass.url}" id="link" class="input-back-bor shop-input-class"/></td>
          </tr>
          <tr>
            <td>版本号：</td>
            <td><input type="text" name="version" value="{$info_mass.version}" id="link" class="input-back-bor shop-input-class"/></td>
          </tr>
          <tr>
            <td>内容：</td>
            <td><textarea name="content" id="detail" cols="50" rows="7">{$info_mass.content}</textarea></td>
          </tr>
          <tr>
          <td>图片：</td>
            <td><input type="file" name="image" /><img src="{$info_mass.img}" style="width: 300px;height: 167px;"><input type="hidden" name="images1" value="{$info_mass.img}"/><span style="color:red;">上传的图片的大小是533*262</span>
            </td>
          </tr>
          <tr>
            <td>VIP等级图：</td>
            <td><input type="file" name="VipImages" /><img src="{$info_mass.VipImages}" style="width: 300px;height: 167px;"><input type="hidden" name="images1" value="{$info_mass.VipImages}"/><span style="color:red;">上传的图片的大小是533*262</span>
            </td>
          </tr>
          <tr>
            <td>联系客服网页地址：</td>
            <td><input type="text" name="service_url" value="{$info_mass.service_url}" id="link" class="input-back-bor shop-input-class"/></td>
          </tr>
          <tr>
            <td>关注微信地址：</td>
            <td><input type="text" name="weixin_url" value="{$info_mass.weixin_url}" id="link" class="input-back-bor shop-input-class"/></td>
          </tr>
          <tr>
            <td>分享链接：</td>
            <td><input type="text" name="fenx_url" value="{$info_mass.fenx_url}" id="link" class="input-back-bor shop-input-class"/></td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;</td>
            <td><input type="submit" value="提交" class="change_back"></td>
          </tr>
      </table>
      </form>
    </div>
  </div>
</div>
</body>
</html>


