<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!--描述-->
		<meta name="description" content="" />
		<!--关键字-->
		<meta name="keywords" content="" />
		<title>旧淘 - 添加分类</title>
	</head>
	<body>
		<form action="{:U('Admin/Article/catAdd?id='.$catInfo['id'])}" method="post"  enctype="multipart/form-data">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td>父级菜单：</td>
					<td>
						<select name="pid">
							<option value="0">顶级菜单</option>
							<volist name="catList" id="vo">
								<option value="{$vo.id}" <eq name="vo.id" value="$catInfo['pid']">selected</eq> >{$vo.name}</option>
							</volist>
						</select>
					</td>
				</tr>
				<tr>
					<td>分类名：</td>
					<td><input type="text" name="cat_name" value="{$catInfo.name}" /></td>
				</tr>
				<tr>
					<td>是否推荐/热门：</td>
					<td>
						<select name="status">
							<option value="1" selected >否</option>
							<option value="2" <eq name="catInfo.is_status" value="2">selected=selected</eq> >是</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>是否隐藏：</td>
					<td>
						<select name="is_hidden">
							<option value="1" selected >否</option>
							<option value="2" <eq name="catInfo.is_hidden" value="2">selected=selected</eq> >是</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>分类图标：</td>
					<td>
						<input type="file" name="img_url" />
						<input type="hidden" name="has_img_url" value="{$catInfo.cat_img_url}" />
						<neq name="catInfo.cat_img_url" value=""><img src="{$catInfo.cat_img_url}" width="60" height="60"/></neq>
					</td>
				<tr>
				<tr>
					<td>菜单栏图标：</td>
					<td>
						<input type="file" name="menu_img_url" />
						<input type="hidden" name="has_menu_img_url" value="{$catInfo.little_img_url}" />
						<neq name="catInfo.little_img_url" value=""><img src="{$catInfo.little_img_url}" width="60" height="60"/></neq>
					</td>
				<tr>				
					<td>&nbsp;&nbsp;</td>
					<td><span style="color:red;font-weight:bold; "> 注：菜单栏图标传小图；分类图标传大图</span></td>
				</tr>	
				</tr>				
				<tr>
					<td>排序：</td>
					<td><input type="text" name="ord" value="{$catInfo.ord_id}" /></td>
				</tr>
				<tr>
					<td>&nbsp;&nbsp;</td>
					<td><input type="submit" name="dosubmit" value="提交" ></td>
				</tr>
			</table>
		</form>
	</body>
</html>
