<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="/Public/jquery/jquery-1.8.3.min.js"></script> 
<link href='/Public/youmi_admin/style/css/bui_css.css' rel="stylesheet" type="text/css" /> 

<link href="/Public/Plugin/mta/style/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="/Public/Plugin/mta/style/css/daterangepicker-bs3.css" />
<script type="text/javascript" src="/Public/Plugin/mta/style/js/moment.js"></script>
<script type="text/javascript" src="/Public/Plugin/mta/style/js/daterangepicker.js"></script>

<title>链接列表</title>
</head>
<body>
<div class="bodytitle">
	<div id="h_title">链接列表</div>
	

</div>

<div class="subbox">  
	<div class="bui_content_b">
		<div class="bui-content">
			<table  cellspacing="0" class="table table-bordered">
				<tr class="phb_name phb_back phb_bors atim_tr" style="font-size: 12px;font-weight: 600;">
					<th >ID</th>
					<th >名称</th>
					<th >友情链接</th>
					<th >操作</th>	    
					<th >修改时间</th>
				</tr>
				<volist name="liknslist" id="v" key="key">
				<tr id="hidd{$vo.id}" class="phb_name <if condition="$key%2 eq 0"> phb_back </if>">
				<th >{$v.id}</th>
						<th >{$v.name}</th>
						<th >{$v.links}</th>
						<th >{$v.add_time|date="Y-m-d H:i:s",###}</th>
						<th><a href="linksAdd?id={$v.id}">修改 |</a><a href="deletelinks?d_id={$v.id}">删除</a></th>
				</tr>
				</volist>
			</table>
			<div>
			 
			  <div class="pages_css">
				{$Page}
			  </div>
			</div>
		</div>
	</div>
</div> 
	
</body>
</html>